html {
  color: #fff;
}
body {
  margin: 0;
  font-family: "Josefin Slab", serif;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(80, 44, 88);
  background: linear-gradient(
    90deg,
    rgba(80, 44, 88, 1) 0%,
    rgba(80, 44, 88, 1) 15%,
    rgb(85, 54, 92) 40%,
    rgb(92, 64, 100) 65%,
    rgb(107, 70, 117) 80%,
    rgb(122, 75, 133) 90%,
    rgba(130, 86, 145, 1) 100%
  );
  background-repeat: no-repeat center center;
  background-size: cover;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
